 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            /*  background: linear-gradient(135deg, #800020, #4B0F1E); */
            background: #111827;
            /*background: #1F2937; */
            /*background: #fdf0d7; */
            /* background: #FFFFFF; */
            /* color: #8B7E74; */
            position: relative;
        }

        .birthBox {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* text-align: center; */
            /* padding: 35px; */
            padding-top: 0;



        }

        .heading {
            height: 120px;
            background-image: url(https://static.vecteezy.com/system/resources/previews/038/965/415/original/christmas-lights-icon-png.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: flex-end;
            font-size: 55px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            position: absolute;
            width: 100%;
        }

        .heading.cookie-regular {
            font-family: "Cookie", cursive;
            font-weight: 500;
            font-style: normal;
        }

        .mainLine {
            color: white;
            width: 85%;
            font-size: 25px;
            text-align: center;
            padding: 20px;
            position: absolute;
            top: 112px;
            left: 135px;
            color: rgb(252, 252, 167);
        }

        .mainLine.cookie-regular {
            font-family: "Cookie", cursive;
            font-weight: 500;
            font-style: normal;
            font-size: 33px;
        }

        .inputDate {
            /* border: 2px solid rgb(252, 252, 167); */
            border-radius: 11px;
            background-color: rgba(95, 94, 137, 0.093);

            position: absolute;
            height: 210px;
            width: 1100px;
            top: 240px;
            left: 210px;
            color: gray;
            padding: 40px;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .date {
            /* height: 45px; */
            padding: 9px;
            border-radius: 8px;
            width: 90%;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: rgb(255, 249, 224)
        }

        .try {
            position: absolute;
            top: 72px;
            right: 40px;
            width: 95px;
            height: 47px;
            font-size: 28px;
            border-radius: 8px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: linear-gradient(135deg, orange, gold, rgb(244, 244, 36));

        }

        .try:hover {
            cursor: pointer;
            box-shadow: 0 0 5px 2px rgb(255, 205, 79);
        }

        .eg {
            font-size: 16px;
        }

        .result {
            border-radius: 11px;
            background-color: rgba(95, 94, 137, 0.093);

            /* position: absolute; */
            /* height: 210px; */
            width: 1100px;
            /* top: 480px; */
            /* left: 210px; */
            color: white;
            padding: 20px;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }

        .signs {
            margin-top: -12px;
            border-radius: 11px;
            /*background-color: rgba(95, 94, 137, 0.093); */

            /* position: absolute; */
            /* height: 210px; */
            width: 1100px;
            /* top: 890px; */
            /* left: 210px; */
            color: white;
            padding: 20px;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .firstRow,
        .secondRow,
        .thirdRow {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-top: 12px;
            /* border: 2px solid white; */
            /* justify-content: space-around; */
        }

        .secondRow {
            padding: 0px;
        }

        .thirdRow {
            /* justify-content: space-around; */
        }

        .boxes {
            /* border: 2px solid red; */
            width: 270px;
            height: 170px;
            margin: 9px;
            background-color: rgba(127, 127, 180, 0.073);
            border-radius: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 0px;
        }

        .boxes:hover,
        .boxes3:hover {
            cursor: pointer;
            transform: translate(8px, -8px);
            transition: transform 0.2s ease;
            box-shadow: 0 0 5px 1px rgb(255, 218, 9), 0 0 5px 1px orange;
        }

        .weekDay,
        .age,
        .nextBirth,
        .daysAlive,
        .weeksAlive,
        .monthsAlive,
        .hoursAlive,
        .minutesAlive {
            color: rgb(255, 205, 79);
            font-size: 36px;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding: 10px;
        }

        .age {
            padding: 8px;
        }

        .weekHead,
        .ageHead,
        .generation,
        .nextBirthHead,
        .daysAliveHead,
        .weeksAliveHead,
        .monthsAliveHead,
        .hoursAliveHead,
        .minutesAliveHead {
            font-size: 17px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }

        .generation {
            color: rgb(152, 152, 152);
        }

        .days {
            font-size: 18px;
            color: gray;

        }

        .b {
            /* margin: 15px; */
            padding: 0px;
            display: flex;
            align-items: center;
            /* justify-content:center; */
        }



        .boxes2 {
            width: 270px;
            height: 165px;
            margin: 9px;
            /* background-color: rgba(127, 127, 180, 0.073); */
            border-radius: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 0px;


        }

        .boxes3 {
            width: 350px;
            height: 170px;
            margin: 5px;
            background-color: rgba(127, 127, 180, 0.073);
            border-radius: 11px;
            display: flex;
            /* align-items: center; */
            justify-content: center;
            flex-direction: column;
            /* margin-bottom: 0px; */
            padding: 35px;
        }

        .western,
        .chinese,
        .birth {
            padding-bottom: 25px;
            font-size: 28px;
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(253, 253, 177);
        }

        .chinese,
        .birth {
            padding-bottom: 9px;
        }

        .westernSignHead,
        .westernElementHead,
        .chineseSignHead,
        .chineseElementHead,
        .chineseDescription,
        .birthSignHead,
        .birthElementHead,
        .birthDescription {
            font-size: 15px;
            text-align: left;
            color: gray;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .westernSign,
        .westernElement,
        .chineseSign,
        .chineseElement,
        .birthSign,
        .birthElement {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 22px;
            text-align: left;
        }

        .western.imperial-script-regular {
            font-family: "Imperial Script", cursive;
            font-weight: 900;
            font-style: normal;
            font-size: 33px;
        }

        .chinese.imperial-script-regular {
            font-family: "Imperial Script", cursive;
            font-weight: 900;
            font-style: normal;
            font-size: 33px;
        }

        .birth.imperial-script-regular {
            font-family: "Imperial Script", cursive;
            font-weight: 900;
            font-style: normal;
            font-size: 33px;
        }

        /* 
.western.updock-regular {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
} */

        #loader {
            display: none;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            /* color: rgb(255, 193, 37); */
            /* color: red; */
            color: orange;
        }



        .famous {
            border-radius: 11px;
            background-color: rgba(95, 94, 137, 0.093);

            /* position: absolute; */
            /* height: 610px; */
            width: 1100px;
            /* top: 1130px; */
            left: 210px;
            color: white;
            padding: 20px;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;

            display: none;


        }

        .peopleBox {
            /* border: 2px solid red; */
            width: 100%;
            /* height: 170px; */
            margin-top: 24px;
            background-color: rgba(127, 127, 180, 0.073);
            border-radius: 11px;
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: center; */
            /* flex-direction: column; */
            /* margin-bottom: 0px; */
            padding: 22px;
        }

        .person {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            align-items: center;

        }

        .personName {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 21px;
            font-weight: bold;
        }

        .personYear {
            font-size: 18px;
            color: rgb(177, 176, 176);
        }

        .personDescription {
            font-size: 18px;
            color: rgb(144, 142, 142);

        }


        .content {
            display: flex;
            flex-direction: column;
            /* gap: 10px; */
            margin-top: 480px;
            /* justify-content: center; */
            align-items: center;
        }

        .res {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .copy {
            /* font-weight: bold; */
            padding: 8px;
            border-radius: 5px;
            background-color: transparent;
            color: white;
            outline: none;
            /* border: 1px solid white; */
            cursor: pointer;
        }


        .apiBox {
            border-radius: 11px;
            background-color: rgba(95, 94, 137, 0.093);

            /* position: absolute; */
            /* height: 610px; */
            width: 1100px;
            /* top: 1300px; */
            /* left: 210px; */
            color: white;
            padding: 30px;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 25px;
            margin-bottom: 35px;

            display: none;


        }

        .apiResponse {
            /* border: 2px solid white; */
            margin: 15px;
            /* height: 350px; */
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.207);
            color: white;
            padding: 20px;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .peopleBox:hover {
            cursor: not-allowed;
            box-shadow: 0 0 2px 3px gray;
        }